{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Pagina principal de DoInValencia{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" id="home-carousel" data-ride="carousel">
                    <div class="carousel-inner">
                         <div class="item active">
                            <img id="imgCarruDefecto" src="{{asset('bundles/dawplantilla/images/Inicial.png')}}" alt="image3" />
                        </div>
                         {% for evento in eventos %}
                            <div class="item">
                                <a href="{{ path('evento_show', { 'id': evento.id }) }}"><img id="imgCarru" src="{{evento.imagen}}"/></a>
                                <div class="carousel-caption">
                                    <h3>{{evento.nombre}}</h3>
                                </div>
                            </div>
                         {% endfor %}
                    </div>
                    <a class="carousel-control left" href="#home-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></a>
                    <a class="carousel-control right" href="#home-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></a>
                </div>
            </div>    
        </div>
    </section>
    <br>
    <!--Aqui se encuntra el contenido de ejemplo para la parte principal-->
            <!--Seccion principal -->
          
                <!-- //son referencias de ejemplo.. de donde nos encontramos en cada momento, pero en la principal no hace falta
                <div class="indice">
                    <ol class="breadcrumb">
                        <li class="active">Inicio</li>
                    </ol>
                </div>
                -->
                <section class="container-fluid"  id="categ">
                    <h2>Categorias de Eventos</h2>
                    
                    <p>Aqui puedes encontrar los eventos separados por sus respectivas categorias</p>
                     
                    <div class="row">
                          <div class="col-md-4">
                            <div class="thumbnail imgCategorias">
                                <a href="{{ path('categoria_hompage', { 'id': '1' }) }}"><img src="http://i.imgur.com/WqTWoSo.jpg" ></a>
                            </div>
                            <div class="thumbnail imgCategorias">
                                <a href="{{ path('categoria_hompage', { 'id': '4' }) }}"><img src="http://i.imgur.com/InjQD9a.jpg" ></a>
                            </div>
                          </div>
                          <div class="col-md-4">
                              <div class="thumbnail imgCategorias">
                                <a href="{{ path('categoria_hompage', { 'id': '3' }) }}"><img src="http://i.imgur.com/5MjOcc0.jpg" ></a>
                              </div>
                              <div class="thumbnail imgCategorias">
                                <a href="{{ path('categoria_hompage', { 'id': '5' }) }}"><img src="http://i.imgur.com/d70MbKf.jpg}" ></a>
                              </div>
                          </div><br><br><br><br><br>
                          <div class="col-md-4">
                                <div class="thumbnail imgCategorias">
                                     <a href="{{ path('categoria_hompage', { 'id': '2' }) }}"><img src="http://i.imgur.com/O1qGRva.jpg" ></a>
                                </div>
                          </div>
                    </div>
            </section>
{% endblock %}
        
{% block javascripts %}{% endblock %}