{% extends "::base.html.twig" %}

{% block title %}Pagina principal de DoInValencia{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('bundles/dawplantilla/css/estilo.css')}}" type="text/css" />{% endblock %}

{% block body %}

    
    <!--Aqui se encuntra el contenido de ejemplo para la parte principal-->
    <section class="main container">
        <div class="row">
            <!--Seccion principal -->
            <section class="posts col-md-9">
                <!-- //son referencias de ejemplo.. de donde nos encontramos en cada momento, pero en la principal no hace falta
                <div class="indice">
                    <ol class="breadcrumb">
                        <li class="active">Inicio</li>
                    </ol>
                </div>
                -->
                <div class="neighborhood-guides">
                <div class="container">
                    <h2>Ejemplo Eventos Thumbnail</h2>
                    <p>Tenemos eventos para todas las edades y gustos, ordenados por categorias o localización.</p>
                    <div class="row">
                      <div class="col-md-4">
                          <div class="thumbnail">
                            <a href="evento"><img src="{{asset('bundles/dawplantilla/images/pruebas/mexico-city.png')}}" ></a>
                          </div>
                          <div class="thumbnail">
                            <a href="evento"><img src="{{asset('bundles/dawplantilla/images/pruebas/ny.png')}}" ></a>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="thumbnail">
                            <a href="evento"><img src="{{asset('bundles/dawplantilla/images/pruebas/tokyo.png')}}" ></a>
                          </div>
                          <div class="thumbnail">
                            <a href="evento"><img src="{{asset('bundles/dawplantilla/images/pruebas/paris.png')}}" ></a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
            <!--Seccion secundaria Barra lateral-->
            <aside class="col-md-3 hidden-xd hidden-sm">
                <h4>Clase</h4>
                <div class=="list-group">
                    <a href="#" class="list-group-item active">Fran</a>
                    <a href="#" class="list-group-item">Emilio</a>
                    <a href="#" class="list-group-item">Victor</a>
                    <a href="#" class="list-group-item">Raul cabron</a>
                    <a href="#" class="list-group-item">Josep maricon</a>
                </div>
                
                <h4>Articulos recientes</h4>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Titulo de ejemplo</h4>
                    <p class="list-group-item-text">como hacer un artiuclo de ejemplo</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Titulo de ejemplo 2</h4>
                    <p class="list-group-item-text">como hacer un artiuclo de ejemplo 2</p>
                </a>
            </aside>
        </div>
    </section>
{% endblock %}
        
        
{% block javascripts %}{% endblock %}