{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
 <section class="main container">
    <div class="row">
    <!--Seccion principal-->
        <section class="posts col-md-9">
            <div class="indice">
                <ol class="breadcrumb">
                    <!--son referencias de ejemplo.. en este caso solo estaria inicio ya que estamos en la principal-->
                    <li><a href="{{ path('back_end_data_base_homepage') }}">Inicio</a></li>
                    <li class="active">Eventos</li>
                </ol>
            </div>   
                
                {% for evento in eventos %}
                <div class="row">
                <article class="post clearfix">
                    <a href="#" class="thumb pull-left">
                        <img class="img-thumbnail" src="{{evento.imagen}}"></img>
                    </a>
                    <h2 class="post-tittle">
                        <a href="{{ path('evento_show', { 'id': evento.id }) }}">{{ evento.nombre }}</a>
                    </h2>
                    <p class="post-contenido text-justify">{{ evento.informacion }}</p>
                    <p class="post-contenido text-justify"><b>Localizacion: </b>{{ evento.localizacion }}</p>
                    <p class="post-contenido text-justify"><b>Ciudad: </b>{{ evento.ciudad }}</p>
                    <p class="post-contenido text-justify"><b>Fecha: </b>{% if evento.fecha %}{{ evento.fecha|date('Y-m-d') }}{% endif %}</p>
                    <p class="post-contenido text-justify"><b>Hora: </b>{% if evento.fecha %}{{ evento.fecha|date('H:i:s') }}{% endif %}</p>
                    <br>
                    <a href="#"><i>{{ evento.tags }}</i></a>
                    
                    <div class="contenedor-botones">
                        <br>
                        <a href="#" class="btn btn-success">Comentar <span class="badge">20</span></a>
                        <a href="{{ path('evento_edit', { 'id': evento.id }) }}" class="btn btn-primary">Editar</a>
                    </div>
                   
                </article>
                </div>
                {% endfor %}
                
             <!--<nav>
               <div clas="center-block">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;<span class="sr-only">Anterior</span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;<span class="sr-only">Siguiente</span></a></li>
                    </ul>
                </div>  
            </nav>-->
        </section>
            
        <!--Seccion secundaria Barra lateral-->
            <aside class="col-md-3 hidden-xd hidden-sm">
                {% if is_granted("ROLE_ADMIN") %}
                <h2>Algo temporal</h2>
                <a href="{{ path('evento_new') }}" class="btn btn-warning"><b>Create a new entry</b></a>
                {% endif %}

                <h4>Proximos Eventos</h4>
                {% for evento in eventos %}
                    <a href="{{ path('evento_show', { 'id': evento.id }) }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ evento.nombre }}</h4>
                        <p class="list-group-item-text">Mas informacion</p>
                    </a>
                {% endfor %}
            </aside>
    </div>
</section>
    
{% endblock %}
