{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ evento.nombre }}</td>
            </tr>
            <tr>
                <th>Localizacion</th>
                <td>{{ evento.localizacion }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ evento.ciudad }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if evento.fecha %}{{ evento.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Reservas</th>
                <td>{{ evento.reservas }}</td>
            </tr>
            <tr>
                <th>Reservasrestantes</th>
                <td>{{ evento.reservasRestantes }}</td>
            </tr>
            <tr>
                <th>Informacion</th>
                <td>{{ evento.informacion }}</td>
            </tr>
            <tr>
                <th>Precioreserva</th>
                <td>{{ evento.precioReserva }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ evento.tags }}</td>
            </tr>
            <tr>
                <th>Tipoeventoid</th>
                <td>{{ evento.tipoEventoId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('evento_edit', { 'id': evento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
