{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Direccion</th>
                <th>Poblacion</th>
                <th>Provincia</th>
                <th>Codigopostal</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Contrasena</th>
                <th>Nombreusuario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.dni }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.direccion }}</td>
                <td>{{ usuario.poblacion }}</td>
                <td>{{ usuario.provincia }}</td>
                <td>{{ usuario.codigoPostal }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.contrasena }}</td>
                <td>{{ usuario.nombreUsuario }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
